[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1"
djangorestframework = "*"
django-rest-framework = "*"
requests = "*"
dj-rest-auth = "*"
django-allauth = "*"
coreapi = "*"
pyyaml = "*"
drf-yasg = "*"

[requires]
python_version = "3.8"
